* { 
    box-sizing: border-box;
}

body {
    --bg: #fff;
    --navLink: #000;
    --accent: #0fb58e;
    --text: #000;
    --link: #8B6DF6;
    
    color: var(--text);
}

/* grid */
.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    height: 85vh;
}

.box {
    /* border: solid #000;
    border-radius: 5px;    */
    
    width: 100%;
    height: 100%;
}

.b {
    grid-column: 1/6;
    grid-row: 1;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.d {
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.e {
    grid-column: 3/6;
    grid-row: 2;
    
    display: flex;
    align-items: end;
    padding: 0 0 0 15%;    
}
  
a {
    color: var(--link);
    text-decoration: none;
}

a:hover {    
    color: var(--accent);
}

blockquote {
    color: rgb(155, 129, 247);
    font-size: 22px;
    margin-top: 3%;
    text-align: center;
    border-left-color: rgb(155, 129, 247);
    font-style: normal;
}

hr {
    width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background: hsla(0,0%,0%,0.2);
}

.sub-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;    
}

.header-with-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.header-with-nav:hover {
    color: var(--link);
}

.title {    
    font-size: 120px;
    margin-bottom: 0;
}

.summary {
    font-size: 24px;
    font-family: 'Archivo', sans-serif;
    line-height: 1.5em;
}

.about {
    line-height: 2em;
    margin-bottom: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;  
}

.about ::marker {
    content: "↬";
}

.about li {
    padding-left: 2%;
}

.about a {
    border-bottom: 2px var(--accent) dashed;
    display: inline-block;
    line-height: 0.85;
}

.about a:hover {
    border-bottom: 2px var(--link) dashed;
}

footer {
    position: absolute;
    width: 100%;
    text-indent: 3px;
    padding-top: 2%;
}

.home {
    -webkit-animation: fadein 3s; 
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s; 
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

.name-title {
    color: #8B6DF6;
    border-bottom: 2px var(--accent) dashed;
    display: inline-block;
    line-height: 0.85;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 896px) and (min-width: 415px) {
    .d {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 30%;
    }
    .title {
        font-size: 88px;
        transform: rotate(-90deg);
    }
    .about {
        font-size: 16px;
    }
    #outer {
        padding-bottom: 8%;
    }
}

@media only screen and (max-width: 414px) {
    .container {
        margin: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        height: 100vh;
    }

    .b, .d, .e {
        all:unset;
    }

    .d {
        order: 1;             
    }

    .b {
        order: 2;
        display: flex;
        justify-content: flex-end;
    }

    .e {
        order: 3;
    }

    .title {
        font-size: 80px;
        margin-top: 0;
    }
    #outer {
        padding-bottom: 8%;
    }
}

.progress {
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%238B6DF6' stroke-width='12'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 0.5em auto;
}

.creativity {
    display: inline-block;
    background-image: url('data:image/svg+xml,%3Csvg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 6 4" width="12" height="10"%3E%3Cpath fill="none" stroke="%23f66ddb" stroke-width="2" stroke-linecap="square" d="M0 1 A 2 2 0 0 1 3 1 M3 1 A 2 2 0 0 0 6 1"/%3E%3C/svg%3E');
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 0.3em auto;
    animation: scrollBackground linear infinite 1s;
}

.world {
    position: relative;    
}

.world:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 3px solid #19daad;
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    
}

@keyframes scrollBackground {
    from {
      background-position: 0 100%;
    }
    to {
      background-position: 0.3em 100%;
    }
}

#outer {
    padding-top: 5px;
    overflow-y: hidden;
}

#outer div {
    display: inline-block;
}

#loop {
    white-space: nowrap;
    animation: loop-anim 40s linear infinite;
}

#loop span {
    padding: 0px 10px;
}

#content {
    font-family: "Jura";
    font-optical-sizing: auto;
    font-size: 18px;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50%;
    }
}